* {
  box-sizing: border-box;
}
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  z-index: 1;
}

nav {
  padding-left: 20px;
  padding-right: 20px;
}

#container1 {
 
  margin: 0 auto;
  width: 80%;
  margin-top: 40px;
  height: 100%;
  /*margin-bottom: 30px;*/
  display: block;
  min-height: 100vh;
  /*flex-direction: column;*/
}

#container3 {
  position: relative;
  margin: 0 auto;
  width: 50%;
  margin-top: 40px;
  /*margin-bottom: 30px;*/
  min-height: 100vh;
}
#container3 h3 {
  text-align: center;
}
#container2 {
  position: relative;
  margin: 0 auto;
  width: 50%;
  margin-top: 40px;
  min-height: 100%;
  /*margin-bottom: 30px;*/
  min-height: 100vh;
}
#container2 h3 {
  text-align: center;
}
#container4 {
  position: relative;
  margin: 0 auto;
  width: 50%;
  margin-top: 40px;
  /*margin-bottom: 30px;*/
  min-height: 100vh;
}

#container4 h3 {
  text-align: center;
}
#about-container{
  position: relative;
  margin: 0 auto;
  width: 50%;
  margin-top: 40px;
  /*margin-bottom: 30px;*/
  min-height: 100vh;
}
#about-container h3 {
  text-align: center;
}

#about-container p {
  line-height: 140%;
  font-size: 30px;
}

#login-container{
  position: relative;
  margin: 0 auto;
  width: 50%;
  margin-top: 40px;
  /*margin-bottom: 30px;*/
  min-height: 100vh;
}
#login-container h3{
  text-align: center;
}
#signup-container {
  position: relative;
  margin: 0 auto;
  width: 50%;
  margin-top: 40px;
  /*margin-bottom: 30px;*/
  min-height: 100vh;
}
#signup-container h3 {
  text-align: center;
}
.social {
  display: flex;
  
}
.social li {
  margin-right: 20px;
  font-size: 30px;
  color: white;
  
}
.social a {
  color: #eceff1;
}
.footer-copyright {
  padding: 0;
}
.page-footer {
  padding-bottom: 0;
  padding-top: 10px;
  /*z-index: 2;*/
  position: relative;
  width: 100%;
  bottom: 0;
}

#jsCreate {
  margin: 0 auto;
  margin-top: 40px;
  -webkit-appearance: none;
  
}
#table1 {
  border: solid 2px grey;
  border-radius: 0.25em 0.25em 0.25em 0.25em;
  align-self: flex-end;
  
}
#table2 {
  border: solid 2px grey;
  border-radius: 0.25em 0.25em 0.25em 0.25em;
  align-self: flex-end;
} 
#jsDetail {
  margin-right: 0px;
}

#jsAdd {
  margin-bottom: 20px;
}

#jsCancel {
  color: black;
  margin-right: 40px;
  margin-bottom: 20px;
}

#jsUpdate {
  margin-bottom: 20px;
}

#jsCancel2 { 
  color: black;
  margin-right: 40px;
  margin-bottom: 20px;
 
}
#jsCancel3 {
  color: black;
  margin-right: 40px;
  margin-bottom: 20px;
  
}

#jsLogIn {
  margin-bottom: 20px;
}

#jsCancel4 {
  color: black;
  margin-right: 40px;
  margin-bottom: 20px;
}


#jsBack {
  color: black;
  margin-top: 40px;
  margin-bottom: 20px;
  
}
#jsRegister {
  margin-bottom: 20px;
}
#errorMessage{
  color:red;
}

