* {
  box-sizing: border-box;
}
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
}

nav {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

#container1 {
  position: relative;
  margin: 0 auto;
  margin-top: 40px;
  width: 80%;
  margin-top: 40px;
}

#container3 {
  position: fixed;
  top: 35%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
}
#container3 h3 {
  text-align: center;
}
#container2 {
  position: relative;
  margin: 0 auto;
  margin-top: 40px;
  width: 50%;
  margin-top: 40px;
  margin-bottom: 40px;
}
#container2 h3 {
  text-align: center;
}
#container4 {
  position: relative;
  margin: 0 auto;
  margin-top: 40px;
  width: 50%;
}

#container4 h3 {
  text-align: center;
}

#signup-container {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.social {
  display: flex;
}
.social li {
  margin-right: 20px;
  font-size: 30px;
  color: white;
}
.social a {
  color: #eceff1;
}
.footer-copyright {
  padding: 0 !important;
}
.page-footer {
  padding-bottom: 0;
  padding-top: 10px;
  margin-bottom: 0px;
  flex: 1 0 auto;
}
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}
#jsCreate {
  margin: 0 auto;
  display: block;
  margin-top: 40px;
  
}
#table1 {
  border: solid 2px grey;
  border-radius: 0.25em 0.25em 0.25em 0.25em;
  align-self: flex-end;
}
#table2 {
  border: solid 2px grey;
  border-radius: 0.25em 0.25em 0.25em 0.25em;
  align-self: flex-end;
}

#jsDetail {
  margin-right: 0px;
}
#jsCancel {
  color: black;
}
#jsCancel2 {
  color: black;
  margin-right: 40px;
}
#jsCancel3 {
  color: black;
}
#jsBack {
  color: black;
  margin-top: 40px;
}
#jsRegister {
  margin-left: 40px;
}

